.summary {
    height: 150px;
    position: relative;
}

.add-product-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.add-product-button:hover {
    background-color: #0056b3; /* Hover background color */
}
/* Style the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 100%;
}

/* Style the close button */
.modal-content button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Increase the top margin for spacing */
}